#files 
  .ag-root .ag-header {
    display: none;
  }
  .ag-row .ag-cell {
    display: flex;
    justify-content: left;
    align-items: center;
  }

#view-files 
  .ag-root .ag-header {
    display: none;
  }
  .ag-row .ag-cell {
    display: flex;
    justify-content: left;
    align-items: center;
  }

#photos 
  .ag-root .ag-header {
    display: none;
  }
  .ag-row .ag-cell {
    display: flex;
    justify-content: left;
    align-items: center;
  }

.trimmed-cover {
  object-fit: cover;
  width: 200px;
  height: 100px;
  object-position: center 50%;
}

.carousel-image {
  object-fit: cover;
  width: 100%px;
  height: 300px;
  object-position: center 50%;
}

.link {
  &:hover {
    background-color: rgb(0, 0, 0);
  }
}

.mantine-Accordion-content{
  padding:0;
  margin:0;
}

.no-padding * {
  padding: 0;
  margin: 0;
}

.navbar {
  transition: 0.5s cubic-bezier(.36,-0.01,0,.77);
}

.navbar.closed {
  margin-left: -250px;
}

.container {
  transition: 0.5s cubic-bezier(.36,-0.01,0,.77);
}

.container.closed {
  margin-left: -250px;
}

._dash-loading {
  display: none;
}